CHANGELOG
LICENSE.txt
bin/
cleanup.bat
cleanup.sh
conf/
decompile.bat
decompile.sh
docs/
eclipse/
getchangedsrc.bat
getchangedsrc.sh
jars/
logs/
recompile.bat
recompile.sh
reformat.bat
reformat.sh
reobfuscate.bat
reobfuscate.sh
reobfuscate_srg.bat
reobfuscate_srg.sh
runtime/
reobf/
src deco/

src/
startclient.bat
startclient.sh
startserver.bat
startserver.sh
temp/
updateids.bat
updateids.sh
updatemcp.bat
updatemcp.sh
updatemd5.bat
updatemd5.sh
updatenames.bat
updatenames.sh
